*{
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0px;
    box-sizing: border-box;
  }
  
  .wrapper ul li a{
    padding-top: 100%;
  }
  
  .wrapper .sidebar {
    background-color: rgb(255, 171, 171);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 210px;
    height: 100%;
    padding: 20px 0px;
    margin-left: -40px;
    text-align: center;
  }
  
  .wrapper .sidebar ul li a {
    display: block;
    padding: 15px 20px;
    border-bottom: 1px solid #000000;
    color: rgb(11, 11, 11);
    font-size: 17px;
    position: relative;
  }
  
  .wrapper .sidebar ul li a:hover {
    background: white;
  }
  
  .wrapper .sidebar ul li a:hover:before {
    display: block;
  }

  .albums {
    margin: 50px 50px 50px 200px;
    background: rgb(215, 243, 244);
    padding: 50px;
    line-height: 28px;
    height: 45vw;
  }

  .premios {
    margin: 50px 50px 350px 200px;
    background: rgb(215, 243, 244);
    padding: 50px;
    line-height: 28px;
    height: 45vw;
  }
  
  /**/
  .cont {
    margin: 50px 50px 50px 200px;
    background: rgb(215, 243, 244);
    padding: 50px;
    line-height: 28px;
    height: 45vw;
  }
  
  header {
    padding: 15px 0px;
    left: 0px;
    position: fixed;
    top: 0px;
    z-index: 10;
    background-color: rgb(255, 171, 171);
    width: 100%;
    height: 10%;
    margin-top: -15px;
  }
  
  .container2 {
    width: 1030px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
  
  a{
    display: inline-block;
    text-decoration: none;
  }
  
  header .container {
    display: flex;
  }
  
  header .container nav a {
    color: black;
    margin: 0 15px;
    margin-left: 40px;
    margin-top: 15px;
  }
  
  header .container .logo {
    width: 55px;
    justify-content: space-between;
    margin-right: 500px;
  }
  
  .logo{
    width: 50px;
    margin-left: -40px;
  }

  .upp {
      width: 400px;
      margin-left: 160px;
  }

  .cont .take1 {
      width: 400px;
      margin-left: 160px;
  }

  .midni {
      width: 400px;
      margin-left: 160px;
  } 

  .four {
      width: 400px;
      margin-left: 160px;
  }

  .made {
    width: 400px;
    margin-left: 160px;
  }

footer{
  text-align: center;
  background-color: black;
  color: wheat;
}


.enl {
  display: flex;
  justify-content: space-between;
  margin: 0px 150px;
  font-size: 25px;
}

header a {
  color: rgb(138, 35, 138);
}
