body{
    background-color: rgb(193, 143, 240);
    list-style: none;
}

.nom{
    text-align: center;
}
.datos {
    display: block;
    margin-left: auto;
    font-size: 12px;
}

.contenido {
    display: block;
    margin-right: 500px;
    text-align: right;
}

ul li{
    list-style: none;
}