* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(255, 0, 111);
    font-size: 18px;
    background-color: rgb(208, 171, 243);
}

.container {
    width: 90%;
    max-width: 10000px;
    margin: 370px 370px;
    
}

.containerDOS {
    width: 40%;
    margin: 32px;
}

.containerDOS p {
    display: inline-block;
    line-height: 1em;
}

.fecha {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.3125rem;
    background: #f7a0a080;
    padding: 20px;
    width: 100%;
}

.reloj {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: #f7a0a080;
}

.reloj .caja-segundos {
    display: inline-block;
}

.reloj .segundos, .reloj .ampm {
    font-size: 2rem;
    display: block;
}
