* {
  font-family: "Fraunces", serif;
  color: #000000;
}

body{
  margin: 0;
  background-color: #a9def9;

}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vw;
}

.calcu{
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: 160px repeat(5, 75px);
  background-color: #ff99c8;
  padding: 15px;
  border-radius: 32px;
  
}

button{
  cursor: pointer;
  margin: 5px;
  padding: 0;
  border-radius: 32px;
  font-size: 1.5em;
  background-color: #e4c1f9;
  box-shadow: 5px 5px 10px -3px #8E9AAF;
  border: none;
  
}

button:active{
  background-color: #d0f4de;
}

.colum-2{
  grid-column: span 2;
}
.display{
  grid-column: 1 / -1;
  width: 230px;
  height: 100px;
  padding: 16px;
  display: flex;
  margin: 10px 20px;
  flex-direction: column;
  align-items: flex-end;
  background-color: #fcf6bd;
  border-radius: 10px;
  text-align: right;
  justify-content: space-between;
  word-break: break-all;
  box-shadow: 0px 0px 0px 10px #00000010;
   }